<%- include('partials/header') %>

    <div class="heading text-center position-absolute top-50 start-50 translate-middle">
        <h1>Welcome to <span class="password">Paxxword</span> , Your own secure password manager</h1>
        <a class="btn btn-primary btn-lg me-3" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>

    <%- include('partials/footer') %>