body {
    background: linear-gradient(270deg, #ea8979, #64b2c8);
    background-size: 400% 400%;

    animation: gradient 19s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}